a {
    background-color: yellow;
    color: green;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

#title {
    background-color: pink;
    color: blue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}